tests/

*/.venv/
*/venv/
.venv/
venv/
data/
*.pyc

# Logs
logs/
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pyc
__pycache__/